<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceUrlToUse" value="https://localhost:5114/api/" />
	</appSettings>
	<connectionStrings>
		<add name="MomentozConnection"
             connectionString="Server=hildur.ucn.dk; Database=DMA-CSD-S224_10461225; User Id=DMA-CSD-S224_10461225; Password=Password1!; Encrypt=True; TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
