<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceUrlToUse" value="https://localhost:5114/api/" />
		<!-- Other application settings can be added here -->
	</appSettings>
	<connectionStrings>
		<add name="MomentozConnection"
		     connectionString="Server=hildur.ucn.dk; Database=DMA-CSD-S222_10461241; User Id=DMA-CSD-S222_10461241; Password=Password1!; Encrypt=False;"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Other configuration sections as needed -->
</configuration>
