@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a world of Momentoz</h1>
    <p>Hej <a href="https://docs.microsoft.com/aspnet/core">Her kan du skrive i vores blog om din fantastiske rejse med Momentoz</a>.</p>
</div>
