html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/fly.png'); /* Opdater dette med den korrekte sti til dit billede */
    background-size: cover; /* Sørger for at billedet dækker hele skærmen */
    background-repeat: no-repeat; /* Forhindrer billedet i at gentage sig */
    background-attachment: fixed; /* Billedet ruller ikke med siden */
    background-position: center center; /* Centrerer billedet på skærmen */
}